*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.sec1{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.bg-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}

.sec1::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
    z-index:-1;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    color:white;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

.hero{
    color:white;
    margin-top:150px;
    margin-left:80px;
}

.hero h1{
    font-size:60px;
    width:550px;
}

.hero p{
    width:500px;
    margin:20px 0;
    line-height:30px;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:30px;
    margin-right:15px;
    background:orangered;
    color:white;
    cursor:pointer;
}